<div class="container">
  <div class="row">
    <h1>PPM - Project Product Management</h1>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <a href="/">Home</a>
    </div>
    <div class="col-lg-2">
        <a href="/products">Product List</a>
    </div>
    <div class="col-lg-2">
        <a href="/products/new">Product Creation</a>
    </div>
  </div>
  <div class="main" style="border: 2px solid black; border-radius: 5px; width: 500px; margin: 5px; padding: 10px; overflow-y: scroll">
    <router-outlet></router-outlet>
  </div>
</div>


